<html>
<head>
<title> Admin login</title>
<link rel="stylesheet" type="text/css" href="log.css">
<link href="https://fonts.googleapis.com/css?family=Index+Flower" rel="stylesheet">
</head>
<body>
<div class="loginbox">
<img src="{{url_for('static',filename="images\logo.png")}}" class="beach">
<h1> Login Here</h1>
<p> User Name</p>
<input type="text" name="" placeholder="Enter User Name">
<p> Password</p>
<input type="text" name="" placeholder="Enter password">
<input type="submit" name="" value="Login">
<a href="#"> Lost your Password</a><br>
<a href="3" > Do Not Have An Account</a>
</div>
</body>
</html>